{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Planeta</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat molestias ullam autem quisquam ab illum
      repellendus dolore reiciendis asperiores culpa odit iure nam debitis, sunt iusto doloremque optio fugit sapiente?
    </p>
  </div>
  <div class="col-4">
    <img src="assets/img/planet.jpg" class="img-thumbnail">
  </div>
</div>

{{> footer }}